<body>
    
  <div class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    </header>
  
    <h1>Welcome to Employee Management Tools</h1>
    <p class="fs-5 col-md-8 pl-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut diam quam nulla porttitor massa id neque. Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. Auctor elit sed vulputate mi. Ultricies tristique nulla aliquet enim tortor at auctor urna. Ornare massa eget egestas purus viverra accumsan in. Non pulvinar neque laoreet suspendisse interdum consectetur libero id. Faucibus nisl tincidunt eget nullam non nisi est sit. Dictum at tempor commodo ullamcorper a lacus vestibulum sed. Fermentum odio eu feugiat pretium. Et odio pellentesque diam volutpat commodo sed egestas egestas fringilla. Scelerisque eu ultrices vitae auctor eu augue ut. Convallis convallis tellus id interdum velit laoreet id donec. Nec feugiat nisl pretium fusce id velit ut tortor pretium.</p>
  
    <hr class="col-3 col-md-2 mb-5">
  
    <div class="row g-5">
      <div class="col-md-6">
        <h2>Features</h2>
        <ul class="icon-list">
          <li><a routerLink="/employee-list">Employee Management</a></li>
          <li class="text-muted">General Setting (coming soon!)</li>
        </ul>
      </div>
  
    </div>
  
    <footer class="pt-5 my-5 text-muted border-top">
      <div class="image">
        <p class="mb-0">Build with :</p>
        <img class="pl-0" src="assets/angular.png" alt="angular">
        <img src="assets/logo-bootstrap.png" alt="angular">
        <img src="assets/html.png" alt="html">
        <img src="assets/CSS.png" alt="css">
        <img src="assets/ts.png" alt="ts">
        <img src="assets/js.png" alt="js">
        <img src="assets/angular-material-logo.jpg" alt="material-angular">
      </div>
      
      <p class="mt-2">Galang Harindito © 2021</p>
    </footer>
  </div>
  
        
    
  
  </body>
