label {
  font-weight: 500;
}

.form-control {
  width: 20rem;
}

.form-select {
  height: 2.2rem;
  width: 20rem;
  border-color: #CED4DA;
  background-color: white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.btn {
  margin-top: 2rem;
  width: 20rem;
}