label {
  font-weight: 500;
}

.form-control {
  width: 20rem;
}

.form-select {
  height: 2.2rem;
  width: 20rem;
  border-color: #CED4DA;
  background-color: white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.btn {
  margin-top: 2rem;
  width: 20rem;
}

.container {
  border: 1px solid #CED4DA;
  ;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 0.85rem;
  -webkit-border-radius: 0.85rem;
  -moz-border-radius: 0.85rem;
  -ms-border-radius: 0.85rem;
  -o-border-radius: 0.85rem;
}

small {
  color: red;
  
}

div .is-invalid {
  outline-color: red;
}

button:disabled {
  background-color: grey;
  border-color: transparent;
}

.btn {
  width: 15rem!important;
}

@media (max-width: 767px) {
  .ml-4 {
    margin-left: 0!important;
}
}

